.item-contact{
    display: flex;
    margin-left: auto;
    justify-content: center;
    text-align: center;
  }

  .item-contact__commun {
    color: var(--contact-color);
    font-size: 14px;
    line-height: 1.7;
    font-style: normal;
    font-weight: 500;
    text-decoration: none;
    display: flex;
    align-items: center;
    transition: color var(--animacia);
  }
  .item-contact__commun:hover,
  .item-contact__commun:focus {
    color: var(--accent-color);
  }
  
  .item-contact__svg-mail {
    margin-right: 10px;
  fill: currentColor;
  }
  .item-contact__svg-tell {
    margin-right: 10px;
  fill: currentColor;
  
  }