.logo__web {
    color: var(--accent-color);
    font-family: 'Raleway';
    font-weight: 700;
    font-size: 26px;
  }
  
  .logo__studio {
    color: var(--black);
    font-family: 'Raleway';
    font-weight: 700;
    font-size: 26px;
    margin-right: 93px;
  }
  
  
  .logo__studio--variable {
    color: var(--wite-color);
    font-family: 'Raleway';
    font-weight: 700;
    font-size: 26px;
    margin-bottom: 20px;
  }
  

  .logo {
    text-decoration: none;
     }